#radiobox,
#quiz-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 6px;
    padding: 6px;

}

#displaybox {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 30%;
    margin: 6px;
    padding: 6px;
}

/*! COLORS */

:root {
    --lerouge: #FB4D3D;
    --leorange: #F79256;
    --leblue: #2EC4B6;
    --lewhite: #FDFFFC;
    --lenoir: #011627;
}

/* ? fonts  */

@font-face {
    font-family: bella;
    src: url("../fonts/Bellerose.ttf") format('truetype');
}

@font-face {
    font-family: championship;
    src: url("../fonts/Championship.ttf") format('truetype');
}

@font-face {
    font-family: american;
    src: url("../fonts/American\ Captain.ttf") format('truetype');
}

@font-face {
    font-family: deco;
    src: url("../fonts\Market_Deco.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap');

/* * main css * */

html
{
    height: fit-content;
}

body {
    height: 100%;
    background: linear-gradient(to top, var(--leblue), var(--lewhite));
    background-size:cover;
    background-repeat:repeat;
    font-family: 'Raleway', sans-serif;
    color: var(--lenoir);
}

h1 {
    font-family: 'bella', sans-serif;
}

#answerbox span,
#question-header {
    text-decoration: underline #F79256 2px;
}

.container {
    margin: 6px;
    
}

.btn a {
    color: #FDFFFC;
}

.btn a:hover {
    color:#2EC4B6;
}

#navbar-bg {
    background-color: var(--lewhite);
}

.main-title {
    text-align: center;
}

#play-btn {
    background: linear-gradient(to top, var(--leorange), var(--lewhite));
    border-radius: 20px;
    border:#011627 solid 2px;
}

#play-btn:hover {
    background: linear-gradient(to top, var(--leorange), var(--lewhite));
    border:#011627 solid 4px;
}

#play-btn a {
    color: #011627;
    font-weight: bold;
}

#play-btn a:hover {
    color: #2EC4B6;
}

#quiz_portal_container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
    min-width: 24rem;
    height: 100vh;
}

.quiz-container {
    margin: 1.3rem;
    width: 24rem;
    height: 36rem;
    padding: 0.4rem;
}

/* Login form stuff */

#login-div {
    padding: 2rem;
    height: 100vh;
}

#login-input-div {
    min-width: 200px;
    max-width: 800px;
}

#submit:hover {
    color: var(--lewhite);
}

#submit {
    margin-top: 0.6rem
}

.main-title {
    margin: 12rem;
}
.main-title h1 {
    margin-bottom: 3rem;
}

.main-title img {
    margin-top: 1.5rem;
}

.main-title img:hover {
    width: 455px;
}

footer {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer div a {
    margin-right: 2rem;
}

.page-title {
    font-family: 'bella', sans-serif;
    font-weight: bold;
}

#dashboard-box {
    display: block;
    text-align: center;
    max-width:100vw;
    height: auto;
}

#dashboard-box span {
    font-family: 'bella';
}

#dashboard-box img {
    margin-top: 1.5rem;
    height: auto;
    width: 24rem;
    border-radius: 30px;
    border: #FDFFFC 3px solid;
}

#score-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
    margin-left: 2rem;
}

#score-box h3 {
    margin: 1rem;
}



#mobile-button-box {
    display: none;
}

#register-box {
    max-width: 80%;
    margin-left: 2rem;
    height: 100vh;
}

#yet-box {
    height: 26vh;

}
#height-box {
    height: 100vh;
}

#main-header {
    font-size: 48px;
    font-weight: 300;
}


/* Media Queeries */

@media only screen and (max-width: 600px) {
    .main-title {
        margin: 1rem;

    }
    .main-title h1 {
        margin-bottom: 1rem;
    }
    .main-title img {
        max-width: 100%;
    }
    

    footer {
        margin-top: 2.6rem;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    footer div {
        flex-direction: column-reverse;
        margin: 0;

    }
    #mobile-button-box {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        padding: 1rem;
        margin-top: 3rem;
        align-items: center;
        
    }

    #mobile-button-box button{
        border-radius: 20px;
        min-width: 15.6rem;
        max-width: 80%;
        font-size: 24px;
        margin: 0.3rem;
        text-align: center;
        background: linear-gradient(to top, var(--leorange), var(--lewhite));
    }

    #quiz_portal_container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }

    .quiz-container {
        max-width: 90%;
        margin: 1rem;
    }

    #quiz-list {
        flex-wrap: wrap;
    }

    #desktop {
        display: none;
    }
  }

