<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkbox.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    {% block title %}<title>Quiz Application</title>{% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbar-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="url_for('#')">QUIZAPP!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_view.home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_views.dashboard')}}">Dashboard / Login</a>
                    </li>
                    {% if "Admin" in current_user.roles %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.index')}}">Admin Portal</a>
                            <a class="dropdown-item" href="{{ url_for('my_view.add_quiz')}}">Add Quiz</a>
                            <a class="dropdown-item" href="{{ url_for('my_view.show_quiz')}}">Show Quizzes</a>
                        </ul>
                    </li>
                    
                    {% elif "User" in current_user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_view.quiz_portal')}}">Show Quiz Portal</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_view.view_quiz')}}">View Quizzes</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_views.register')}}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_views.logout')}}">Logout</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="{{ url_for('my_view.search') }}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>