{% extends 'base.html' %}
{% block content %}
{% if current_user %}
<div class="main-title">   
    <h1 class="card-title" id="main-header">Welcome to Webbiskools Quiz App!</h1>
    <hr/>
    <a href="{{ url_for('login_views.dashboard')}}"><img src="{{url_for('static', filename="images/quiztitle.png")}}" alt=""></a>
</div>

{% else %}
<h2>Log in here... <a href="{{url_for('login_views.login')}}"></a></h2>
{% endif %}
<div id="mobile-button-box">
    <button><a class="nav-link" href="{{ url_for('my_view.home')}}">Home</a></button>
    <button><a class="nav-link" href="{{ url_for('login_views.dashboard')}}">Dashboard / Login</a></button>
    {% if "Admin" in current_user.roles %}
    <button><a class="nav-link" href="{{ url_for('my_view.show_quiz')}}">Show Quizzes</a></button>
    {% elif "User" in current_user.roles %}
    <button><a class="nav-link" href="{{ url_for('user_view.quiz_portal')}}">Show Quizzes</a></button>
    {% else %}
    <button><a class="nav-link" href="{{ url_for('my_view.view_quiz')}}">Show Quizzes</a></button>
    {% endif %}
    <button><a class="nav-link" href="{{ url_for('login_views.register')}}">Register</a></button>
</div>
<footer>
    <aside>All rights reserved Webbiskools© 2022</aside>
    <div>
    <a href="#"><p>Contact</p></a>
    <a href="#"><p>Site Map</p></a>
    <a href="#"><p>Legal</p></a></div>
</footer>
{% endblock %}